/* pages/shopping/shopping.wxss */
.shopping{
  width: 100%;
  height: 100%;
}

.shopping_main{
  flex: 1;
  overflow-y: auto;
}
.checkbox{
  display: flex;
}
image{
  width: 6rem;
  height: 5rem;
  object-fit: cover;
}
.shop_Name{
  font-size: 10px;
  /* display: flex;
  flex-wrap: wrap; */
}
.checkbox{
  width: 100%;
  height: 10rem;
  border-bottom: 1px solid #ccc;
  display: flex;  
  align-items: center;
  justify-content: space-between;
}
shop_data{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.shopping_footer{
  overflow: auto;
  width: 100%;
  height: 3rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0%;
}
.allcheck{
  display: flex;
  justify-content: space-between;
}

.shop_price{
  color: red;
}
.account{
  width: auto;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account_sum{
  width: 175rpx;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 3rem;
  background-color: red;
  display: flex;
  color: #fff;
}