/* pages/search_page/search_page.wxss */
.search{
    font-size: 30rpx;
}
.top {
    width: 100%;
    height: 80rpx;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #aaa;
}

.search_top {
    width: 80%;
    height: 80rpx;
    background-color: #f3f1f1;
    border-radius: 100rpx;
    display: flex;
    align-items: center;
}

.search image {
    width: 40rpx;
    height: 40rpx;
    padding: 0 30rpx;
}
/*  */
.down{
    margin-top: 10rpx;
    padding: 30rpx;
}
.search_hot{
    padding: 0 0 50rpx 0;
    border-bottom: 1px solid #aaaaaa;
    color: #aaa;
}
.canceles{
    color: red;
}
.history{
    padding: 30rpx 0;
    color: #aaa;
    display: flex;
    justify-content: space-between;
}
/*  */
.search_word{
    display: flex;
    flex-wrap: wrap;
}
.search_item text{
    display: inline-flex;
    background-color: aquamarine;
    padding: 10rpx 30rpx;
    background-color: #eeeeee;
    border-radius: 50rpx;
    margin: 10rpx ;
}
