/* pages/detail/detail.wxss */
.detailPage {
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}
.swiper {
  width: 100%;
  height: 800rpx;
}
.swiper image {
  width: 100%;
  height: 100%;
}
.detail {
  background-color: #fff;
  padding-top: 20rpx;
}
.detail .detailTop {
  display: flex;
  justify-content: space-between;
  padding-left: 20rpx;
  align-items: center;
}
.detail .detailTop .detailTopLfet .detailContent {
  color: #c4c4c4;
  font-size: 23rpx;
  line-height: 60rpx;
}
.detail .detailTop .detailTopRight {
  border-left: solid 1rpx #f4f4f4;
  padding: 10rpx 40rpx;
  margin: 10rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40rpx;
}
.detail .detailTop .detailTopRight view {
  font-size: 26rpx;
  white-space: nowrap;
}
.detail .detailTop .detailTopRight image {
  width: 40rpx;
  height: 40rpx;
}
.detail .botNum {
  padding-left: 20rpx;
  color: #f00;
  font-size: 27rpx;
  padding-bottom: 20rpx;
}
.detail .botNum .proNum {
  font-size: 42rpx;
}
.shopNum {
  margin: 20rpx 0;
  padding: 0 20rpx;
  background-color: #fff;
  line-height: 80rpx;
  font-size: 27rpx;
  display: flex;
  justify-content: space-between;
}
.shopNum text {
  font-size: 21rpx;
  color: #c5c5c5;
  margin-right: 40rpx;
}
.er-more {
  width: 20rpx;
  height: 20rpx;
  border-top: 2rpx solid #999;
  border-right: 2rpx solid #999;
  transform: rotate(45deg);
  margin-left: 10rpx;
  display: inline-block;
}
.evaluate {
  background-color: #fff;
}
.evaluate .evaluateTop {
  display: flex;
  justify-content: space-between;
  padding: 20rpx;
  border-bottom: solid 1rpx #c4c4c4;
  align-items: center;
}
.good-rep {
  font-size: 24rpx;
  color: #f00;
  margin-left: 10rpx;
}
.evaluate .all-rep-num {
  font-size: 27rpx;
  color: rgb(99, 99, 99);
}
.evalTags {
  padding: 20rpx 10rpx;
}
.evalTags text {
  margin: 0 10rpx;
  background-color: rgb(250, 235, 227);
  padding: 5rpx 10rpx;
  border-radius: 10rpx;
  font-size: 27rpx;
}
.banner {
  background: #fff;
  margin-top: 20rpx;
  line-height: 48rpx;
  width: 750rpx;
}
.banner image {
  width: 750rpx !important;
  display: block;
}
.account {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  box-sizing: 3;
}
.account view,
.account button {
  width: 130rpx !important;
  display: flex;
  border-right: solid 1rpx #c5c5c5;
  flex-direction: column;
  align-items: center;
  background-color: #fff !important;
}
.account button {
  border: none;
}
.account image {
  padding-top: 10rpx;
  width: 40rpx;
  height: 40rpx;
}
.account view {
  font-size: 23rpx;
  color: #000;
  line-height: 40rpx;
  font-weight: bold;
}
.account .addShopping,
.account .buy,
.ope .addShopping,
.ope .buy {
  width: 100% !important;
  display: flex;
  justify-content: center;
  color: #fff;
  border: none;
  font-size: 27rpx;
}
.account .addShopping,
.ope .addShopping {
  background-color: rgb(88, 78, 97) !important;
}
.account .buy,
.ope .buy {
  background-color: rgb(235, 36, 68) !important;
}
.navigator-hover {
  color: rgb(255, 26, 26);
}
.addShop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: 2;
}
.selShop {
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #fff;
  width: 100%;
  height: 50%;
}
.ope {
  width: 100%;
  display: flex;
  position: absolute;
  line-height: 90rpx;
  bottom: 0;
  left: 0;
}
.selShopTop {
  padding-left: 10rpx;
}
.selShopTop .selImage {
  width: 160rpx;
  height: 160rpx;
}
.selShopTop .selImage image {
  width: 100%;
  border-radius: 10rpx;
  height: 100%;
  margin-top: -20%;
}
.selShopTop .selShopAff {
  display: flex;
}
.selShopTop .selShopAff .selShopNum {
  margin-left: 20rpx;
}
.selShopTop .selShopAff .selShopNum .selpri {
  font-size: 21rpx;
  line-height: 70rpx;
  color: #f00;
}
.selShopTop .selShopAff .selShopNum .selpri text {
  font-size: 37rpx;
}
.selShopTop .selShopAff .selShopNum .shopNumTop {
  font-size: 21rpx;
  color: #c5c5c5;
}
.selShopTop .selShopAff .selShopNum .shopNumTop text {
  margin-left: 20rpx;
  color: #000;
  font-size: 27rpx;
}
.close {
  position: absolute;
  right: 20rpx;
  top: -30rpx;
}
.shopClor button{
  margin: 10rpx 20rpx;
}
.evaluatePop{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #fff;
  box-sizing: 2;
}
.evaluatePop .evaluatePopTop{
  width: 100%;
  padding: 10rpx 20rpx;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1rpx #c5c5c5;
}
.evaluatePop .evaluatePopTop .evaluatePopTopRight{
  position: absolute;
  top: 10rpx;
  right: 20rpx;
}
.Onevaltags{
  background-color: #f00 !important;
  color: #fff;
}
.shopNumber{
  display: flex;
  justify-content: space-between;
  padding: 0 20rpx;
}
.lowerShopNum,.addShopNum{
  margin: 20rpx;
  border: solid 1rpx #099;
  border-radius: 50%;
  display: inline-block;
  width: 40rpx;
  height: 40rpx;
  line-height: 40rpx;
  text-align: center;
  font-size: 27rpx;
}
.shopNumTop{
  width: 100%;
  display: flex;
}
.shopNumTop text{
  display: inline-block;
}