/* pages/my/my.wxss */
page {
  background-color: #f7f7f7;
  padding-bottom: 60rpx;
}

/* 用户信息 */
.userinfo {
  position: relative;
  width: 100%;
  background: #fff;
  text-align: center;
  padding: 30rpx 0;
}

.userinfo .userinfo-avatar {
  overflow: hidden;
  display: block;
  width: 160rpx;
  height: 160rpx;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.userinfo .userinfo-name {
  font-size: 30rpx;
  font-weight: bold;
  margin-top: 20rpx;
}

.binding-phone {
  position: relative;
  background: #fff;
  height: 80rpx;
  line-height: 80rpx;
  padding: 0 30rpx;
  border-top: 2rpx solid #f7f7f7;
  border-bottom: 2rpx solid #f7f7f7;
}

.binding-phone .show-tip {
  font-size: 26rpx;
}

.binding-phone .gotobinding {
  border-radius: 8rpx;
  font-size: 28rpx;
  color: #e24b4b;
  font-weight: bold;
}


/* 我的订单 */
.list-cont {
  width: 100%;
  background-color: #fff;
  margin-top: 20rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60rpx;
  border-bottom: 2rpx solid #f7f7f7;
  padding: 0 30rpx;
}

.total-order {
  display: flex;
}

.total-order .my-order {
  font-weight: 800;
  font-size: 32rpx;
}

.total-order .more {
  margin-left: 400rpx;
  color: #ccc;
}

.operation {
  width: 100%;
  background-color: #fff;
  margin-top: 20rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 190rpx;
  border-bottom: 2rpx solid #f7f7f7;
}

.items {
  width: 100rpx;
  display: flex;
  flex-direction: column;
  margin-left: 30rpx;
}

.operation .items image {
  width: 80rpx;
  height: 80rpx;
  margin-left: 10rpx;
}

.operation .items text {
  text-align: center;
  font-size: 28rpx;
  margin-top: 10rpx;
}

.collect {
  width: 100%;
  margin-top: 20rpx;
  background: #fff;
  display: flex;
  justify-content: space-around;
  padding: 30rpx 0 10rpx 0;
  font-size: 12px;
}

.collect .collect-item {
  text-align: center;
}

.collect .collect-item .num {
  font-size: 16px;
  font-weight: 700;
  color: #3a86b9;
}

.collect .collect-item .title {
  line-height: 34px;
}

/* 收货地址 */
.side{
  width: 100%;
  display: flex;
  height: 80rpx;
  background-color: #fff;
  border-bottom: 2rpx solid #f7f7f7;
  margin-top: 10rpx;
  line-height: 80rpx;
}
.side image{
  width: 50rpx;
  height: 50rpx;
  margin-top: 10rpx;
  margin-left: 5rpx;
}
.side text{
  margin-left: 10rpx;
}
.side .arrowhead{
  margin-left: 500rpx;
  color: #ccc;
}
